<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.habit.mapper.HBoardMapper">
	<select id="getList" resultType="com.habit.domain.HBoardVO">
		<![CDATA[
			SELECT * FROM HBOARD WHERE B_NUM > 0
		]]>
	</select>
	
	<insert id="insert">
		insert into hboard (b_num, b_title, b_content, b_writer)
		values (seq_hboard.nextval, #{b_title}, #{b_content}, #{b_writer})
	</insert>
	
	<insert id="insertSelectKey">
		<selectKey keyProperty="b_num" order="BEFORE" resultType="Long">
			SELECT SEQ_HBOARD.NEXTVAL FROM DUAL
		</selectKey>
		
		insert into hboard (b_num, b_title, b_content, b_writer)
		values (#{b_num}, #{b_title}, #{b_content}, #{b_writer})
	</insert>
	
</mapper>