<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.habit.mapper.MemberMapper">
	<select id="getMember" resultType="com.habit.domain.MemberVO">
		select * from hmember where m_num = #{m_num}
	</select>
</mapper>
